In [2]:
!pip install efficient-apriori

Defaulting to user installation because normal site-packages is not writeable
Collecting efficient-apriori
  Using cached efficient_apriori-2.0.3-py3-none-any.whl (14 kB)
Installing collected packages: efficient-apriori
Successfully installed efficient-apriori-2.0.3

In [6]:
import pandas as pd

from efficient_apriori import apriori
transactions = [('eggs', 'bacon', 'soup'),
                ('eggs', 'bacon', 'apple'),
                ('soup', 'bacon', 'banana')]
itemsets, rules = apriori(transactions, output_transaction_ids=True)
# print(itemsets)
print(rules.__str__())

[{eggs} -> {bacon}, {bacon} -> {eggs}, {soup} -> {bacon}, {bacon} -> {soup}]

In [ ]:
!

In [2]:
subjects = ['ICT', 'BIOLOGY', 'GEOLOGY', 'HISTORY', 'ECONOMICS', 'GEOGRAPHY', 'MARKETING', 'DATA PROCESSING',
            'BUSINESS MATHEMATICS', 'BUSINESS MANAGEMENT',
            'PHYSICS', 'MATHEMATICS AND MECHANICS', 'CHEMISTRY', 'PHILOSOPHY', 'LITERATURE IN ENGLISH',
            'RELIGIOUS STUDIES', 'PURE MATHEMATICS WITH STATISTICS',
            'FRENCH', 'FOOD SCIENCE AND NUTRITION', 'FURTHER MATHEMATICS', 'PURE MATHEMATICS WITH MECHANICS',
            'COMMERCE AND FINANCE', 'ENGLISH LANGUAGE',
            'COMPUTER SCIENCE', 'ACCOUNTING', 'LAW', 'COMMUNICATION SKILLS', 'SECRETERIAL ADMINISTRATION',
            'ENGINEERING SCIENCE']
grades = ['A', 'B', 'C', 'D', 'E']

In [3]:
stud_subjects = ['FOOD SCIENCE AND NUTRITION','BUSINESS MATHEMATICS','COMMUNICATION SKILLS','SECRETERIAL ADMINISTRATION','PHILOSOPHY']
stud_grades = ['A','B', 'D', 'D']

In [4]:
# stud

In [5]:
df = pd.DataFrame(columns=subjects)
stud = dict(zip(subjects, stud_grades))
df.head()

Empty DataFrame
Columns: [ICT, BIOLOGY, GEOLOGY, HISTORY, ECONOMICS, GEOGRAPHY, MARKETING, DATA PROCESSING, BUSINESS MATHEMATICS, BUSINESS MANAGEMENT, PHYSICS, MATHEMATICS AND MECHANICS, CHEMISTRY, PHILOSOPHY, LITERATURE IN ENGLISH, RELIGIOUS STUDIES, PURE MATHEMATICS WITH STATISTICS, FRENCH, FOOD SCIENCE AND NUTRITION, FURTHER MATHEMATICS, PURE MATHEMATICS WITH MECHANICS, COMMERCE AND FINANCE, ENGLISH LANGUAGE, COMPUTER SCIENCE, ACCOUNTING, LAW, COMMUNICATION SKILLS, SECRETERIAL ADMINISTRATION, ENGINEERING SCIENCE]
Index: []

[0 rows x 29 columns]

In [6]:
# stud_now = [item for item in set(subjects) not in set(stud_subjects)]

In [8]:
# df.update(stud)

In [9]:
df.head()

Empty DataFrame
Columns: [ICT, BIOLOGY, GEOLOGY, HISTORY, ECONOMICS, GEOGRAPHY, MARKETING, DATA PROCESSING, BUSINESS MATHEMATICS, BUSINESS MANAGEMENT, PHYSICS, MATHEMATICS AND MECHANICS, CHEMISTRY, PHILOSOPHY, LITERATURE IN ENGLISH, RELIGIOUS STUDIES, PURE MATHEMATICS WITH STATISTICS, FRENCH, FOOD SCIENCE AND NUTRITION, FURTHER MATHEMATICS, PURE MATHEMATICS WITH MECHANICS, COMMERCE AND FINANCE, ENGLISH LANGUAGE, COMPUTER SCIENCE, ACCOUNTING, LAW, COMMUNICATION SKILLS, SECRETERIAL ADMINISTRATION, ENGINEERING SCIENCE]
Index: []

[0 rows x 29 columns]

In [10]:
for i in subjects:
    if i not in stud_subjects:
        df[i] = 0
#     else:
#         df[i] = stud_grades
# i+=1

In [11]:
df.head()

Empty DataFrame
Columns: [ICT, BIOLOGY, GEOLOGY, HISTORY, ECONOMICS, GEOGRAPHY, MARKETING, DATA PROCESSING, BUSINESS MATHEMATICS, BUSINESS MANAGEMENT, PHYSICS, MATHEMATICS AND MECHANICS, CHEMISTRY, PHILOSOPHY, LITERATURE IN ENGLISH, RELIGIOUS STUDIES, PURE MATHEMATICS WITH STATISTICS, FRENCH, FOOD SCIENCE AND NUTRITION, FURTHER MATHEMATICS, PURE MATHEMATICS WITH MECHANICS, COMMERCE AND FINANCE, ENGLISH LANGUAGE, COMPUTER SCIENCE, ACCOUNTING, LAW, COMMUNICATION SKILLS, SECRETERIAL ADMINISTRATION, ENGINEERING SCIENCE]
Index: []

[0 rows x 29 columns]

In [12]:
df.shape

(0, 29)

In [33]:
d = pd.DataFrame(stud.items())

In [34]:
df.update(df[d])

In [37]:
d.T

     0        1        2        3
0  ICT  BIOLOGY  GEOLOGY  HISTORY
1    A        B        D        D

In [14]:
df.insert(column=stud_subjects, value=stud_grades, loc=1)

TypeError: unhashable type: 'list'

In [3]:
from efficient_apriori import apriori
transactions = [('eggs', 'bacon', 'soup'),
                ('eggs', 'bacon', 'apple'),
                ('soup', 'bacon', 'banana')]
itemsets, rules = apriori(transactions, output_transaction_ids=True)
print(itemsets)

ModuleNotFoundError: No module named 'efficient_apriori'

In [9]:
from apyori import apriori

transactions = [
    ['beer', 'nuts'],
    ['beer', 'cheese'],
]

results = list(apriori(transactions))

In [10]:
results

[RelationRecord(items=frozenset({'beer'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'beer'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'cheese'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'cheese'}), confidence=0.5, lift=1.0)]),
 RelationRecord(items=frozenset({'nuts'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nuts'}), confidence=0.5, lift=1.0)]),
 RelationRecord(items=frozenset({'cheese', 'beer'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'cheese', 'beer'}), confidence=0.5, lift=1.0), OrderedStatistic(items_base=frozenset({'beer'}), items_add=frozenset({'cheese'}), confidence=0.5, lift=1.0), OrderedStatistic(items_base=frozenset({'cheese'}), items_add=frozenset({'beer'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'nuts', 'beer'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nuts', 'beer'}), confidence=0.5, lift=1.0), OrderedStatistic(items_base=frozenset({'beer'}), items_add=frozenset({'nuts'}), confidence=0.5, lift=1.0), OrderedStatistic(items_base=frozenset({'nuts'}), items_add=frozenset({'beer'}), confidence=1.0, lift=1.0)])]