In [1]:
import pandas as pd

In [2]:
subjects = ['ICT', 'BIOLOGY', 'GEOLOGY', 'HISTORY', 'ECONOMICS', 'GEOGRAPHY', 'MARKETING', 'DATA PROCESSING',
            'BUSINESS MATHEMATICS', 'BUSINESS MANAGEMENT',
            'PHYSICS', 'MATHEMATICS AND MECHANICS', 'CHEMISTRY', 'PHILOSOPHY', 'LITERATURE IN ENGLISH',
            'RELIGIOUS STUDIES', 'PURE MATHEMATICS WITH STATISTICS',
            'FRENCH', 'FOOD SCIENCE AND NUTRITION', 'FURTHER MATHEMATICS', 'PURE MATHEMATICS WITH MECHANICS',
            'COMMERCE AND FINANCE', 'ENGLISH LANGUAGE',
            'COMPUTER SCIENCE', 'ACCOUNTING', 'LAW', 'COMMUNICATION SKILLS', 'SECRETERIAL ADMINISTRATION',
            'ENGINEERING SCIENCE']
grades = ['A', 'B', 'C', 'D', 'E']

In [3]:
stud_subjects = ['FOOD SCIENCE AND NUTRITION','BUSINESS MATHEMATICS','COMMUNICATION SKILLS','SECRETERIAL ADMINISTRATION','PHILOSOPHY']
stud_grades = ['A','B', 'D', 'D']

In [4]:
# stud

In [5]:
df = pd.DataFrame(columns=subjects)
stud = dict(zip(subjects, stud_grades))
df.head()

Empty DataFrame
Columns: [ICT, BIOLOGY, GEOLOGY, HISTORY, ECONOMICS, GEOGRAPHY, MARKETING, DATA PROCESSING, BUSINESS MATHEMATICS, BUSINESS MANAGEMENT, PHYSICS, MATHEMATICS AND MECHANICS, CHEMISTRY, PHILOSOPHY, LITERATURE IN ENGLISH, RELIGIOUS STUDIES, PURE MATHEMATICS WITH STATISTICS, FRENCH, FOOD SCIENCE AND NUTRITION, FURTHER MATHEMATICS, PURE MATHEMATICS WITH MECHANICS, COMMERCE AND FINANCE, ENGLISH LANGUAGE, COMPUTER SCIENCE, ACCOUNTING, LAW, COMMUNICATION SKILLS, SECRETERIAL ADMINISTRATION, ENGINEERING SCIENCE]
Index: []

[0 rows x 29 columns]

In [6]:
# stud_now = [item for item in set(subjects) not in set(stud_subjects)]

In [8]:
# df.update(stud)

In [9]:
df.head()

Empty DataFrame
Columns: [ICT, BIOLOGY, GEOLOGY, HISTORY, ECONOMICS, GEOGRAPHY, MARKETING, DATA PROCESSING, BUSINESS MATHEMATICS, BUSINESS MANAGEMENT, PHYSICS, MATHEMATICS AND MECHANICS, CHEMISTRY, PHILOSOPHY, LITERATURE IN ENGLISH, RELIGIOUS STUDIES, PURE MATHEMATICS WITH STATISTICS, FRENCH, FOOD SCIENCE AND NUTRITION, FURTHER MATHEMATICS, PURE MATHEMATICS WITH MECHANICS, COMMERCE AND FINANCE, ENGLISH LANGUAGE, COMPUTER SCIENCE, ACCOUNTING, LAW, COMMUNICATION SKILLS, SECRETERIAL ADMINISTRATION, ENGINEERING SCIENCE]
Index: []

[0 rows x 29 columns]

In [10]:
for i in subjects:
    if i not in stud_subjects:
        df[i] = 0
#     else:
#         df[i] = stud_grades
# i+=1

In [11]:
df.head()

Empty DataFrame
Columns: [ICT, BIOLOGY, GEOLOGY, HISTORY, ECONOMICS, GEOGRAPHY, MARKETING, DATA PROCESSING, BUSINESS MATHEMATICS, BUSINESS MANAGEMENT, PHYSICS, MATHEMATICS AND MECHANICS, CHEMISTRY, PHILOSOPHY, LITERATURE IN ENGLISH, RELIGIOUS STUDIES, PURE MATHEMATICS WITH STATISTICS, FRENCH, FOOD SCIENCE AND NUTRITION, FURTHER MATHEMATICS, PURE MATHEMATICS WITH MECHANICS, COMMERCE AND FINANCE, ENGLISH LANGUAGE, COMPUTER SCIENCE, ACCOUNTING, LAW, COMMUNICATION SKILLS, SECRETERIAL ADMINISTRATION, ENGINEERING SCIENCE]
Index: []

[0 rows x 29 columns]

In [12]:
df.shape

(0, 29)

In [33]:
d = pd.DataFrame(stud.items())

In [34]:
df.update(df[d])

In [37]:
d.T

     0        1        2        3
0  ICT  BIOLOGY  GEOLOGY  HISTORY
1    A        B        D        D

In [14]:
df.insert(column=stud_subjects, value=stud_grades, loc=1)

TypeError: unhashable type: 'list'